# Exploratory Data Analysis (EDA)
Use the dataset(s) provided to do some exploratory analysis - which is not expected to be exhaustive; it only needs to demonstrate some comfort level doing some interesting analysis and presenting findings

In [2]:
import pandas as pd
import numpy as np
import os
import sys

In [3]:
# Useful parameters
DATA_DIR = 'datasets/'
prod_estimates_dataset = 'PRODUCTION ESTIMATES.csv'
wholesale_prices_dataset = 'NATIONAL WHOLESALE PRICE OF SOME SELECTED COMMODITIES.csv'
rainfall_dataset = 'RAINFALL.csv'
path_to_prod_est_dataset = os.path.join(DATA_DIR, prod_estimates_dataset)
path_to_ws_prices_dataset = os.path.join(DATA_DIR, wholesale_prices_dataset)
path_to_rainfall_dataset = os.path.join(DATA_DIR, rainfall_dataset)
print('Production estimates dataset is found in:', path_to_prod_est_dataset)
print('Wholesale prices dataset is found in:', path_to_ws_prices_dataset)
print('Rainfall dataset is found in:', path_to_rainfall_dataset)

Production estimates dataset is found in: datasets/PRODUCTION ESTIMATES.csv
Wholesale prices dataset is found in: datasets/NATIONAL WHOLESALE PRICE OF SOME SELECTED COMMODITIES.csv
Rainfall dataset is found in: datasets/RAINFALL.csv

In [4]:
pro_est_df = pd.read_csv(path_to_prod_est_dataset)

In [5]:
pro_est_df.head(3)

,REGION,DISTRICT,YEAR,CROP,AREA (HA),YIELD (MT/HA),PRODUCTION (MT)
0,WESTERN,SHAMA AHANTA EAST,2008,MAIZE,"1,099.00",1.15,"1,263.85"
1,WESTERN,WEST AHANTA,2008,MAIZE,"1,433.00",1.19,"1,705.27"
2,WESTERN,MPORHOR WASSA EAST,2008,MAIZE,"2,034.00",1.32,"2,684.88"

In [6]:
ws_price_df = pd.read_csv(path_to_ws_prices_dataset)
ws_price_df.head(3)

   YEAR     MONTH COMMODITY  WEIGHT, KG PER BAG   PRICE, � GH
0  2008   JANUARY     MAIZE                 100        13.694
1  2008  FEBRUARY     MAIZE                 100        13.066
2  2008     MARCH     MAIZE                 100        14.043